

footer {
    border-top: 1px solid black;
    height: 100px;
    p {
            text-align: center;
            font-size: 0.85rem;
            padding: 30px;
        }
    a {
        &:hover, &:focus {
            text-decoration: solid underline $accent-blue 3px;
            text-underline-offset: 12px;
        }

        p.top-link {
            font-weight: 700;
        }
    }
}
