// .projects {
//     // border-top: 4px solid black;
//     background-color: #F3F3F5;
// }

.projects-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.project {
    display: flex;
    width: 46%;
    background-color: $surface-secondary;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $text-primary;
        box-shadow: -5px 5px $text-primary;
        padding: 40px;
        text-align: center;
        transition: 0.4s;
        &:hover, &:focus {
            box-shadow: -10px 10px $accent-blue;
        }
    }


.project-image {
    width: 70%;
    img {
        width: 100%;
        border: 1px solid black;
    }

}

.tools-used {
    display: flex;
    justify-content: space-between;
    li {
        font-size: 0.8rem;
        border: 1px solid black;
        padding: 4px;
    }
}
.project-links {
    margin: 40px;
}

.project-link {
    margin: 20px;
    padding: 20px;
}