
.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.project-image {
    width: 35%;
    img {
        width: 100%;
        display: inline-block;
        box-shadow: none;
        transition: box-shadow 0.5s;
    }
}

.project-description {
    width: 60%;
    background-color: $surface-secondary;
    padding: 50px;
    p {
        padding: 20px 0;
    }
    .project-links {
        margin-top: 30px;
        .button {
            margin-right: 20px;
        }
    }
}

.tools-used {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
        font-size: 0.8rem;
        border: 1px solid $text-primary;
        padding: 2px 4px;
        margin: 0 6px 6px 0;
        transition: border 0.2s, color 0.2s;
        &:hover, &:focus, &:active {
            border: 1px solid $accent-blue;
            color: $accent-blue;
        }
    }
}

