// .skills  {
//     background-color: white;
//     // border-top: 4px solid black;
// }

.skills-container {
    display: flex;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.skill-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.skill-container p {
    visibility: hidden;
}

.skill-icon {
    font-size: 4rem;
    padding-bottom: 20px;
}

.skill-container:hover {
    transition: 0.4s;
    color: $pink;
    animation: shakeX;
    animation-duration: 2s;
    p {
        visibility: visible;
    }
}
