// .skills  {
//     background-color: $surface-secondary;
//     // border-top: 4px solid black;
// }

.skills-container {
    display: flex;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.skill-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
}

.skill-container p {
    visibility: hidden;
}

.skill-icon {
    font-size: 3rem;
    padding-bottom: 20px;
}

.skill-container:hover {
    transition: 0.4s;
    color: $accent-blue;
    animation: shakeX;
    animation-duration: 2s;
    p {
        visibility: visible;
    }
}
