
html {
    font-size: 125%;
    line-height: 1.15;
}

body {
    font-family: $bodyFont;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 160%;
    color: $text-primary;
}

h1, h2, h4 {
    font-family: $headingFont;
    line-height: 110%;
    font-weight: 700;
}

h1 {
    font-size: 5.3rem;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    padding-right: 15px;
    line-height: 1;

}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
    padding-right: 15px;
}

h3 {
    font-family: $bodyFont;
    font-weight: 300;
    font-size:  2.7rem;
    line-height: 125%;
}

h4 {
    font-size: 2rem;
}

button,
a.button {
    font-family: $headingFont;
    font-size: 1.2rem;
}