html {
    font-size: 125%;
}

body, p {
    font-family: $bodyFont;
    color: $text-primary;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: $headingFont;
}

h1 {
    font-size: 7rem;
    padding-right: 25px;

}
    // h3::before {
//     content: "";
//     position: absolute;
//     left: 7%;
//     bottom: 10px;
//     width: 200px;
//     height: 14px;
//     transform: skew(-12deg) translateX(-50%);
//     background: rgba(238,111,87,0.5);
//     z-index: -1;
// }

// .contact-title::before {
//     content: "";
//     position: absolute;
//     left: 7%;
//     bottom: 10px;
//     width: 200px;
//     height: 14px;
//     transform: skew(-12deg) translateX(-50%);
//     background: rgba(238,111,87,0.5);
//     z-index: -1;
// }

h2 {
    font-size: 4rem;
}

h3 {
    font-size:  3rem;
}


button {
    font-weight: $headingFont;
}