/* custom heading font */
@font-face {
    font-family: 'Sprat';
    src: url(../assets/fonts/Sprat-RegularBold.otf);
    font-display: swap;
}

/* fonts */
$headingFont: 'Sprat';
$bodyFont: 'Montserrat', sans-serif;

/* colors */

// default light mode theme
$surface-primary: #FDFAF5;
$surface-secondary: #F0EBE4;
$text-primary: #082340;

$accent-blue: #168CFA;

// dark mode inverted theme

$inverted-surface-primary: #082340;
$inverted-surface-secondary: #1B2126;
$inverted-text-primary: #F5F2ED;





