@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 3, 2022 */
@font-face {
  font-family: "spratregular";
  src: url("sprat_variable-webfont.woff2") format("woff2"), url("sprat_variable-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_black";
  src: url("sprat-condensedblack-webfont.woff2") format("woff2"), url("sprat-condensedblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_bold";
  src: url("sprat-condensedbold-webfont.woff2") format("woff2"), url("sprat-condensedbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_light";
  src: url("sprat-condensedlight-webfont.woff2") format("woff2"), url("sprat-condensedlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_medium";
  src: url("sprat-condensedmedium-webfont.woff2") format("woff2"), url("sprat-condensedmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_thin";
  src: url("sprat-condensedthin-webfont.woff2") format("woff2"), url("sprat-condensedthin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondesed_regular";
  src: url("sprat-condesedregular-webfont.woff2") format("woff2"), url("sprat-condesedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_black";
  src: url("sprat-extendedblack-webfont.woff2") format("woff2"), url("sprat-extendedblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_bold";
  src: url("sprat-extendedbold-webfont.woff2") format("woff2"), url("sprat-extendedbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_light";
  src: url("sprat-extendedlight-webfont.woff2") format("woff2"), url("sprat-extendedlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_medium";
  src: url("sprat-extendedmedium-webfont.woff2") format("woff2"), url("sprat-extendedmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_regular";
  src: url("sprat-extendedregular-webfont.woff2") format("woff2"), url("sprat-extendedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sprat";
  src: url(../assets/fonts/Sprat-RegularBold.otf);
  font-display: swap;
}
/* fonts */
/* colors */
html {
  font-size: 125%;
  line-height: 1.15;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 160%;
  color: #12161A;
}

h1, h2, h3, h4 {
  font-family: "Sprat";
  line-height: 110%;
  font-weight: 700;
}

h1 {
  font-size: 5.3rem;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  padding-right: 25px;
  line-height: 1;
}

h2, h3 {
  font-weight: 600;
}

h2 {
  font-size: 3.2rem;
  padding-right: 25px;
}

h3 {
  font-size: 2.7rem;
  line-height: 125%;
}

h4 {
  font-size: 2rem;
}

button,
a.button {
  font-family: "Sprat";
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F2ED;
}

.wrapper {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
a.button {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  color: #F5F2ED;
  border: 2px solid black;
  background-color: #12161A;
  padding: 12px 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
button:hover, button:focus,
a.button:hover,
a.button:focus {
  -webkit-box-shadow: -3px 3px 0 0 #168CFA;
          box-shadow: -3px 3px 0 0 #168CFA;
}

section {
  padding-top: 40px;
  margin-bottom: 80px;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 60px;
}

.accent-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #12161A;
  -ms-flex-item-align: center;
      align-self: center;
}

.header-container {
  height: 100vh;
  position: relative;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
}

.desktop-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.desktop-menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 0.85rem;
  font-weight: normal;
}
.desktop-menu-dropdown li a:hover, .desktop-menu-dropdown li a:focus, .desktop-menu-dropdown li a:active {
  -webkit-text-decoration: solid underline #168CFA 3px;
          text-decoration: solid underline #168CFA 3px;
  text-underline-offset: 12px;
}

.hero-area {
  position: absolute;
  top: 20%;
  width: 100%;
}

.hero-text {
  width: 100%;
}

.highlight {
  text-shadow: 0 0 0 #168CFA;
  -webkit-transition: text-shadow 0.2s, color 0.2s;
  transition: text-shadow 0.2s, color 0.2s;
}
.highlight:hover, .highlight:focus {
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
  text-shadow: -2px -2px 0 #168CFA;
}
.highlight::before {
  content: "​";
  content: "​"/"front-end web developer";
  alt: "front-end web developer";
  white-space: break-spaces;
  will-change: content;
  -webkit-animation: typed-0 7.14s linear 1s infinite forwards;
          animation: typed-0 7.14s linear 1s infinite forwards;
}
.highlight::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  -webkit-animation: typed-0-caret 0.75s linear 1s infinite forwards;
          animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@-webkit-keyframes typed-0 {
  0%, 1.3995602241% {
    content: "​f";
    content: "​f"/"front-end web developer";
    alt: "front-end web developer";
  }
  1.4005602241%, 2.8001204482% {
    content: "​fr";
    content: "​fr"/"front-end web developer";
    alt: "front-end web developer";
  }
  2.8011204482%, 4.2006806723% {
    content: "​fro";
    content: "​fro"/"front-end web developer";
    alt: "front-end web developer";
  }
  4.2016806723%, 5.6012408964% {
    content: "​fron";
    content: "​fron"/"front-end web developer";
    alt: "front-end web developer";
  }
  5.6022408964%, 7.0018011204% {
    content: "​front";
    content: "​front"/"front-end web developer";
    alt: "front-end web developer";
  }
  7.0028011204%, 8.4023613445% {
    content: "​front-";
    content: "​front-"/"front-end web developer";
    alt: "front-end web developer";
  }
  8.4033613445%, 9.8029215686% {
    content: "​front-e";
    content: "​front-e"/"front-end web developer";
    alt: "front-end web developer";
  }
  9.8039215686%, 11.2034817927% {
    content: "​front-en";
    content: "​front-en"/"front-end web developer";
    alt: "front-end web developer";
  }
  11.2044817927%, 12.6040420168% {
    content: "​front-end";
    content: "​front-end"/"front-end web developer";
    alt: "front-end web developer";
  }
  12.6050420168%, 14.0046022409% {
    content: "​front-end ";
    content: "​front-end "/"front-end web developer";
    alt: "front-end web developer";
  }
  14.0056022409%, 15.405162465% {
    content: "​front-end w";
    content: "​front-end w"/"front-end web developer";
    alt: "front-end web developer";
  }
  15.406162465%, 16.8057226891% {
    content: "​front-end we";
    content: "​front-end we"/"front-end web developer";
    alt: "front-end web developer";
  }
  16.8067226891%, 18.2062829132% {
    content: "​front-end web";
    content: "​front-end web"/"front-end web developer";
    alt: "front-end web developer";
  }
  18.2072829132%, 19.6068431373% {
    content: "​front-end web ";
    content: "​front-end web "/"front-end web developer";
    alt: "front-end web developer";
  }
  19.6078431373%, 21.0074033613% {
    content: "​front-end web d";
    content: "​front-end web d"/"front-end web developer";
    alt: "front-end web developer";
  }
  21.0084033613%, 22.4079635854% {
    content: "​front-end web de";
    content: "​front-end web de"/"front-end web developer";
    alt: "front-end web developer";
  }
  22.4089635854%, 23.8085238095% {
    content: "​front-end web dev";
    content: "​front-end web dev"/"front-end web developer";
    alt: "front-end web developer";
  }
  23.8095238095%, 25.2090840336% {
    content: "​front-end web deve";
    content: "​front-end web deve"/"front-end web developer";
    alt: "front-end web developer";
  }
  25.2100840336%, 26.6096442577% {
    content: "​front-end web devel";
    content: "​front-end web devel"/"front-end web developer";
    alt: "front-end web developer";
  }
  26.6106442577%, 28.0102044818% {
    content: "​front-end web develo";
    content: "​front-end web develo"/"front-end web developer";
    alt: "front-end web developer";
  }
  28.0112044818%, 29.4107647059% {
    content: "​front-end web develop";
    content: "​front-end web develop"/"front-end web developer";
    alt: "front-end web developer";
  }
  29.4117647059%, 30.81132493% {
    content: "​front-end web develope";
    content: "​front-end web develope"/"front-end web developer";
    alt: "front-end web developer";
  }
  30.81232493%, 61.3435378151% {
    content: "​front-end web developer";
    content: "​front-end web developer"/"front-end web developer";
    alt: "front-end web developer";
  }
  61.3445378151%, 62.4639859944% {
    content: "​front-end web develope";
    content: "​front-end web develope"/"front-end web developer";
    alt: "front-end web developer";
  }
  62.4649859944%, 63.5844341737% {
    content: "​front-end web develop";
    content: "​front-end web develop"/"front-end web developer";
    alt: "front-end web developer";
  }
  63.5854341737%, 64.7048823529% {
    content: "​front-end web develo";
    content: "​front-end web develo"/"front-end web developer";
    alt: "front-end web developer";
  }
  64.7058823529%, 65.8253305322% {
    content: "​front-end web devel";
    content: "​front-end web devel"/"front-end web developer";
    alt: "front-end web developer";
  }
  65.8263305322%, 66.9457787115% {
    content: "​front-end web deve";
    content: "​front-end web deve"/"front-end web developer";
    alt: "front-end web developer";
  }
  66.9467787115%, 68.0662268908% {
    content: "​front-end web dev";
    content: "​front-end web dev"/"front-end web developer";
    alt: "front-end web developer";
  }
  68.0672268908%, 69.18667507% {
    content: "​front-end web de";
    content: "​front-end web de"/"front-end web developer";
    alt: "front-end web developer";
  }
  69.18767507%, 70.3071232493% {
    content: "​front-end web d";
    content: "​front-end web d"/"front-end web developer";
    alt: "front-end web developer";
  }
  70.3081232493%, 71.4275714286% {
    content: "​front-end web ";
    content: "​front-end web "/"front-end web developer";
    alt: "front-end web developer";
  }
  71.4285714286%, 72.5480196078% {
    content: "​front-end web";
    content: "​front-end web"/"front-end web developer";
    alt: "front-end web developer";
  }
  72.5490196078%, 73.6684677871% {
    content: "​front-end we";
    content: "​front-end we"/"front-end web developer";
    alt: "front-end web developer";
  }
  73.6694677871%, 74.7889159664% {
    content: "​front-end w";
    content: "​front-end w"/"front-end web developer";
    alt: "front-end web developer";
  }
  74.7899159664%, 75.9093641457% {
    content: "​front-end ";
    content: "​front-end "/"front-end web developer";
    alt: "front-end web developer";
  }
  75.9103641457%, 77.0298123249% {
    content: "​front-end";
    content: "​front-end"/"front-end web developer";
    alt: "front-end web developer";
  }
  77.0308123249%, 78.1502605042% {
    content: "​front-en";
    content: "​front-en"/"front-end web developer";
    alt: "front-end web developer";
  }
  78.1512605042%, 79.2707086835% {
    content: "​front-e";
    content: "​front-e"/"front-end web developer";
    alt: "front-end web developer";
  }
  79.2717086835%, 80.3911568627% {
    content: "​front-";
    content: "​front-"/"front-end web developer";
    alt: "front-end web developer";
  }
  80.3921568627%, 81.511605042% {
    content: "​front";
    content: "​front"/"front-end web developer";
    alt: "front-end web developer";
  }
  81.512605042%, 82.6320532213% {
    content: "​fron";
    content: "​fron"/"front-end web developer";
    alt: "front-end web developer";
  }
  82.6330532213%, 83.7525014006% {
    content: "​fro";
    content: "​fro"/"front-end web developer";
    alt: "front-end web developer";
  }
  83.7535014006%, 84.8729495798% {
    content: "​fr";
    content: "​fr"/"front-end web developer";
    alt: "front-end web developer";
  }
  84.8739495798%, 85.9933977591% {
    content: "​f";
    content: "​f"/"front-end web developer";
    alt: "front-end web developer";
  }
  85.9943977591%, 100% {
    content: "​";
    content: "​"/"front-end web developer";
    alt: "front-end web developer";
  }
}
@keyframes typed-0 {
  0%, 1.3995602241% {
    content: "​f";
    content: "​f"/"front-end web developer";
    alt: "front-end web developer";
  }
  1.4005602241%, 2.8001204482% {
    content: "​fr";
    content: "​fr"/"front-end web developer";
    alt: "front-end web developer";
  }
  2.8011204482%, 4.2006806723% {
    content: "​fro";
    content: "​fro"/"front-end web developer";
    alt: "front-end web developer";
  }
  4.2016806723%, 5.6012408964% {
    content: "​fron";
    content: "​fron"/"front-end web developer";
    alt: "front-end web developer";
  }
  5.6022408964%, 7.0018011204% {
    content: "​front";
    content: "​front"/"front-end web developer";
    alt: "front-end web developer";
  }
  7.0028011204%, 8.4023613445% {
    content: "​front-";
    content: "​front-"/"front-end web developer";
    alt: "front-end web developer";
  }
  8.4033613445%, 9.8029215686% {
    content: "​front-e";
    content: "​front-e"/"front-end web developer";
    alt: "front-end web developer";
  }
  9.8039215686%, 11.2034817927% {
    content: "​front-en";
    content: "​front-en"/"front-end web developer";
    alt: "front-end web developer";
  }
  11.2044817927%, 12.6040420168% {
    content: "​front-end";
    content: "​front-end"/"front-end web developer";
    alt: "front-end web developer";
  }
  12.6050420168%, 14.0046022409% {
    content: "​front-end ";
    content: "​front-end "/"front-end web developer";
    alt: "front-end web developer";
  }
  14.0056022409%, 15.405162465% {
    content: "​front-end w";
    content: "​front-end w"/"front-end web developer";
    alt: "front-end web developer";
  }
  15.406162465%, 16.8057226891% {
    content: "​front-end we";
    content: "​front-end we"/"front-end web developer";
    alt: "front-end web developer";
  }
  16.8067226891%, 18.2062829132% {
    content: "​front-end web";
    content: "​front-end web"/"front-end web developer";
    alt: "front-end web developer";
  }
  18.2072829132%, 19.6068431373% {
    content: "​front-end web ";
    content: "​front-end web "/"front-end web developer";
    alt: "front-end web developer";
  }
  19.6078431373%, 21.0074033613% {
    content: "​front-end web d";
    content: "​front-end web d"/"front-end web developer";
    alt: "front-end web developer";
  }
  21.0084033613%, 22.4079635854% {
    content: "​front-end web de";
    content: "​front-end web de"/"front-end web developer";
    alt: "front-end web developer";
  }
  22.4089635854%, 23.8085238095% {
    content: "​front-end web dev";
    content: "​front-end web dev"/"front-end web developer";
    alt: "front-end web developer";
  }
  23.8095238095%, 25.2090840336% {
    content: "​front-end web deve";
    content: "​front-end web deve"/"front-end web developer";
    alt: "front-end web developer";
  }
  25.2100840336%, 26.6096442577% {
    content: "​front-end web devel";
    content: "​front-end web devel"/"front-end web developer";
    alt: "front-end web developer";
  }
  26.6106442577%, 28.0102044818% {
    content: "​front-end web develo";
    content: "​front-end web develo"/"front-end web developer";
    alt: "front-end web developer";
  }
  28.0112044818%, 29.4107647059% {
    content: "​front-end web develop";
    content: "​front-end web develop"/"front-end web developer";
    alt: "front-end web developer";
  }
  29.4117647059%, 30.81132493% {
    content: "​front-end web develope";
    content: "​front-end web develope"/"front-end web developer";
    alt: "front-end web developer";
  }
  30.81232493%, 61.3435378151% {
    content: "​front-end web developer";
    content: "​front-end web developer"/"front-end web developer";
    alt: "front-end web developer";
  }
  61.3445378151%, 62.4639859944% {
    content: "​front-end web develope";
    content: "​front-end web develope"/"front-end web developer";
    alt: "front-end web developer";
  }
  62.4649859944%, 63.5844341737% {
    content: "​front-end web develop";
    content: "​front-end web develop"/"front-end web developer";
    alt: "front-end web developer";
  }
  63.5854341737%, 64.7048823529% {
    content: "​front-end web develo";
    content: "​front-end web develo"/"front-end web developer";
    alt: "front-end web developer";
  }
  64.7058823529%, 65.8253305322% {
    content: "​front-end web devel";
    content: "​front-end web devel"/"front-end web developer";
    alt: "front-end web developer";
  }
  65.8263305322%, 66.9457787115% {
    content: "​front-end web deve";
    content: "​front-end web deve"/"front-end web developer";
    alt: "front-end web developer";
  }
  66.9467787115%, 68.0662268908% {
    content: "​front-end web dev";
    content: "​front-end web dev"/"front-end web developer";
    alt: "front-end web developer";
  }
  68.0672268908%, 69.18667507% {
    content: "​front-end web de";
    content: "​front-end web de"/"front-end web developer";
    alt: "front-end web developer";
  }
  69.18767507%, 70.3071232493% {
    content: "​front-end web d";
    content: "​front-end web d"/"front-end web developer";
    alt: "front-end web developer";
  }
  70.3081232493%, 71.4275714286% {
    content: "​front-end web ";
    content: "​front-end web "/"front-end web developer";
    alt: "front-end web developer";
  }
  71.4285714286%, 72.5480196078% {
    content: "​front-end web";
    content: "​front-end web"/"front-end web developer";
    alt: "front-end web developer";
  }
  72.5490196078%, 73.6684677871% {
    content: "​front-end we";
    content: "​front-end we"/"front-end web developer";
    alt: "front-end web developer";
  }
  73.6694677871%, 74.7889159664% {
    content: "​front-end w";
    content: "​front-end w"/"front-end web developer";
    alt: "front-end web developer";
  }
  74.7899159664%, 75.9093641457% {
    content: "​front-end ";
    content: "​front-end "/"front-end web developer";
    alt: "front-end web developer";
  }
  75.9103641457%, 77.0298123249% {
    content: "​front-end";
    content: "​front-end"/"front-end web developer";
    alt: "front-end web developer";
  }
  77.0308123249%, 78.1502605042% {
    content: "​front-en";
    content: "​front-en"/"front-end web developer";
    alt: "front-end web developer";
  }
  78.1512605042%, 79.2707086835% {
    content: "​front-e";
    content: "​front-e"/"front-end web developer";
    alt: "front-end web developer";
  }
  79.2717086835%, 80.3911568627% {
    content: "​front-";
    content: "​front-"/"front-end web developer";
    alt: "front-end web developer";
  }
  80.3921568627%, 81.511605042% {
    content: "​front";
    content: "​front"/"front-end web developer";
    alt: "front-end web developer";
  }
  81.512605042%, 82.6320532213% {
    content: "​fron";
    content: "​fron"/"front-end web developer";
    alt: "front-end web developer";
  }
  82.6330532213%, 83.7525014006% {
    content: "​fro";
    content: "​fro"/"front-end web developer";
    alt: "front-end web developer";
  }
  83.7535014006%, 84.8729495798% {
    content: "​fr";
    content: "​fr"/"front-end web developer";
    alt: "front-end web developer";
  }
  84.8739495798%, 85.9933977591% {
    content: "​f";
    content: "​f"/"front-end web developer";
    alt: "front-end web developer";
  }
  85.9943977591%, 100% {
    content: "​";
    content: "​"/"front-end web developer";
    alt: "front-end web developer";
  }
}
@-webkit-keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}

.hero-scroll {
  position: absolute;
  bottom: 60px;
  width: 200px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
  left: 0;
  right: 0;
}

.hero-scroll .chevron {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  color: #168CFA;
  text-align: center;
}

.chevron.bottom::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.about-container {
  width: 75%;
}
.about-container .about-title {
  padding-bottom: 40px;
}
.about-container p {
  padding-bottom: 20px;
}

.about-image {
  width: 20%;
}
.about-image img {
  max-width: 250px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F0EBE4;
  padding: 50px;
  margin-bottom: 30px;
  border: 1px solid #12161A;
}

.project-image {
  width: 35%;
}
.project-image img {
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.project-image img:hover {
  -webkit-box-shadow: 0px 13px 18px 0px #168CFA;
          box-shadow: 0px 13px 18px 0px #168CFA;
}

.project-description {
  width: 60%;
}
.project-description p {
  padding: 30px 0;
}
.project-description .button {
  margin-right: 20px;
}

.tools-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.tools-used li {
  font-size: 0.8rem;
  border: 1px solid black;
  padding: 3px 8px;
  margin: 0 6px 50px 0;
}
.tools-used li:hover, .tools-used li:focus {
  border: 1px solid #168CFA;
  color: #168CFA;
}

.button.borderless {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  color: #12161a;
}
.button.borderless:hover, .button.borderless:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: -1px 1px 0 #168cfa;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-container {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  text-align: center;
}
.skill-container p {
  visibility: hidden;
}
.skill-container:hover, .skill-container:focus, .skill-container:active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #168CFA;
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.skill-container:hover p, .skill-container:focus p, .skill-container:active p {
  visibility: visible;
}

.skill-icon {
  font-size: 3.5rem;
  padding-bottom: 20px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-container .contact-text,
.contact-container .contact-form {
  width: 48%;
}
.contact-container .contact-text h2 {
  padding-bottom: 20px;
}
.contact-container .contact-text p {
  font-size: 1.1rem;
  line-height: 150%;
  padding-bottom: 40px;
}
.contact-container .contact-form {
  padding-right: 120px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
form label {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
form input,
form textarea {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #12161A;
  background-color: inherit;
  -webkit-box-shadow: -2px 2px 0 0 #12161A;
          box-shadow: -2px 2px 0 0 #12161A;
  margin-bottom: 25px;
  outline: none;
}
form input:hover,
form textarea:hover {
  -webkit-box-shadow: -4px 4px solid #168CFA;
          box-shadow: -4px 4px solid #168CFA;
}
form input:focus,
form textarea:focus {
  -webkit-box-shadow: -4px 4px 0 0 #168CFA;
          box-shadow: -4px 4px 0 0 #168CFA;
  border: 1px solid #168CFA;
}
form input {
  padding: 15px;
  overflow: visible;
  resize: none;
}
form textarea {
  resize: none;
  padding: 10px 15px 15px 15px;
}
form button {
  width: 120px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 0.8rem;
  opacity: 1;
}

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 0.8rem;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 0.8rem;
  opacity: 1;
}

::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 0.8rem;
  opacity: 1;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #969696;
  font-size: 0.8rem;
  opacity: 1;
}

.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-nav ul li {
  font-size: 1.3rem;
  padding-right: 30px;
}
.social-nav ul li i:hover, .social-nav ul li i:focus {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.inline-link {
  -webkit-box-shadow: inset 0 -1px 0 0 #168CFA;
          box-shadow: inset 0 -1px 0 0 #168CFA;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
.inline-link:hover, .inline-link:active {
  -webkit-box-shadow: inset 0 -3px 0 0 #168CFA;
          box-shadow: inset 0 -3px 0 0 #168CFA;
}

footer {
  border-top: 1px solid black;
  height: 80px;
}
footer p {
  text-align: center;
  font-size: 0.85rem;
  padding: 20px;
}
footer a:hover, footer a:focus {
  -webkit-text-decoration: solid underline #168CFA 3px;
          text-decoration: solid underline #168CFA 3px;
  text-underline-offset: 12px;
}
footer a p.top-link {
  font-weight: 700;
}

li {
  text-decoration: none;
}

@media (max-width: 991px) {
  h2 {
    font-size: 2.8rem;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project .project-image,
.project .project-description {
    width: 100%;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .contact-text,
.contact-container .contact-form {
    width: 100%;
  }
  .contact-container .contact-text {
    padding-left: 0;
  }
  .contact-container .social-nav {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 2.4rem;
  }
}