html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 3, 2022 */
@font-face {
  font-family: "spratregular";
  src: url("sprat_variable-webfont.woff2") format("woff2"), url("sprat_variable-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_black";
  src: url("sprat-condensedblack-webfont.woff2") format("woff2"), url("sprat-condensedblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_bold";
  src: url("sprat-condensedbold-webfont.woff2") format("woff2"), url("sprat-condensedbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_light";
  src: url("sprat-condensedlight-webfont.woff2") format("woff2"), url("sprat-condensedlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_medium";
  src: url("sprat-condensedmedium-webfont.woff2") format("woff2"), url("sprat-condensedmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondensed_thin";
  src: url("sprat-condensedthin-webfont.woff2") format("woff2"), url("sprat-condensedthin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratcondesed_regular";
  src: url("sprat-condesedregular-webfont.woff2") format("woff2"), url("sprat-condesedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_black";
  src: url("sprat-extendedblack-webfont.woff2") format("woff2"), url("sprat-extendedblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_bold";
  src: url("sprat-extendedbold-webfont.woff2") format("woff2"), url("sprat-extendedbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_light";
  src: url("sprat-extendedlight-webfont.woff2") format("woff2"), url("sprat-extendedlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_medium";
  src: url("sprat-extendedmedium-webfont.woff2") format("woff2"), url("sprat-extendedmedium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "spratextended_regular";
  src: url("sprat-extendedregular-webfont.woff2") format("woff2"), url("sprat-extendedregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* fonts */
/* colors */
html {
  font-size: 125%;
}

body, p {
  font-family: "Montserrat", sans-serif;
  color: #12161A;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: "Eczar", serif;
}

h1 {
  font-size: 7rem;
  padding-right: 25px;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

button {
  font-weight: "Eczar", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F2ED;
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

a,
li {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
a.project-link {
  text-align: center;
  outline: none;
  color: #F5F2ED;
  border: 1px solid black;
  background-color: #12161A;
  padding: 18px 26px;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-family: "Eczar", serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
button:hover, button:focus,
a.project-link:hover,
a.project-link:focus {
  -webkit-box-shadow: -4px 4px #168CFA;
          box-shadow: -4px 4px #168CFA;
}

section {
  padding: 60px 0;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accent-line {
  width: 100%;
  height: 2px;
  background-color: #12161A;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 25px;
}

header {
  height: 100vh;
}

header:after {
  content: "";
  width: 100%;
  height: auto;
  background-image: url(../assets/wave.svg);
  background-size: 100% 500px;
  background-repeat: no-repeat;
  display: block;
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
}

.desktop-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.desktop-menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  font-size: 0.85rem;
  font-weight: normal;
}
.desktop-menu-dropdown li a:hover, .desktop-menu-dropdown li a:focus {
  -webkit-text-decoration: solid underline #168CFA 3px;
          text-decoration: solid underline #168CFA 3px;
  text-underline-offset: 12px;
}

.hero-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.highlight {
  text-shadow: 0 0 0 #168CFA;
  -webkit-transition: text-shadow 0.2s, color 0.2s;
  transition: text-shadow 0.2s, color 0.2s;
}
.highlight:hover, .highlight:focus {
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
  text-shadow: -2px -2px 0 #168CFA;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  background-color: #F0EBE4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #12161A;
  -webkit-box-shadow: -5px 5px #12161A;
          box-shadow: -5px 5px #12161A;
  padding: 40px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.project:hover, .project:focus {
  -webkit-box-shadow: -10px 10px #168CFA;
          box-shadow: -10px 10px #168CFA;
}

.project-image {
  width: 70%;
}
.project-image img {
  width: 100%;
  border: 1px solid black;
}

.tools-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tools-used li {
  font-size: 0.8rem;
  border: 1px solid black;
  padding: 4px;
}

.project-links {
  margin: 40px;
}

.project-link {
  margin: 20px;
  padding: 20px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px;
}

.skill-container {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  text-align: center;
}

.skill-container p {
  visibility: hidden;
}

.skill-icon {
  font-size: 4rem;
  padding-bottom: 20px;
}

.skill-container:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #FE6564;
  -webkit-animation: shakeX;
          animation: shakeX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.skill-container:hover p {
  visibility: visible;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #12161A;
  padding-top: 80px;
}

.contact-text,
.contact-form {
  width: 45%;
}

.contact-text {
  padding-left: 15px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}
form label {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
form input,
form textarea {
  border: 1px solid #12161A;
  background-color: inherit;
  -webkit-box-shadow: -2px 2px 0 0 #12161A;
          box-shadow: -2px 2px 0 0 #12161A;
  margin-bottom: 25px;
  outline: none;
}
form input:hover,
form textarea:hover {
  -webkit-box-shadow: -4px 4px solid #168CFA;
          box-shadow: -4px 4px solid #168CFA;
}
form input:focus,
form textarea:focus {
  -webkit-box-shadow: -4px 4px 0 0 #168CFA;
          box-shadow: -4px 4px 0 0 #168CFA;
  border: 1px solid #168CFA;
}
form input {
  padding: 15px;
}
form textarea {
  resize: none;
  padding: 10px 15px 15px 15px;
}
form button {
  width: 120px;
}

.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-nav ul li {
  font-size: 1.3rem;
  padding-right: 30px;
}
.social-nav ul li i:hover, .social-nav ul li i:focus {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer {
  border-top: 1px solid black;
  height: 100px;
}
footer a {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 40px;
}
footer a:hover, footer a:focus {
  -webkit-text-decoration: solid underline #168CFA 3px;
          text-decoration: solid underline #168CFA 3px;
  text-underline-offset: 12px;
}

li {
  text-decoration: none;
}